
.nav_bar{
    display: inline-block;
    background: none;
    color: black;
    padding: 9px 20px;
    text-decoration: none;
}

.nav_bar:hover{
    background: gray;
}

nav{
    background: none;
    padding: 10px;
    text-align: center;
    font-style: sans-serif;
    font-size: smaller;
}

body{
    background: url(imagenes/proyecto3.jpg);
    background-size: cover;
    background-attachment: fixed;
}
