.nav_bar{
    display: inline-block;
    background: white;
    color: black;
    padding: 9px 20px;
    text-decoration: none;
}

.nav_bar:hover{
    background: gray;
}

nav{
    background: white;
    padding: 10px;
    text-align: center;
    font-style: sans-serif;
    font-size: smaller;
}

